
*{
 padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#map {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.mapbox-directions-instructions {
}


.mapbox-directions-route-summary {
  position: relative;
}

.directions-control-directions {
  height: 35px;
  transition: height 1s ease;
}

.directions-control-directions.apply {
  height: 385px;
}

